.docs {
  &-cols {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
  }

  &-col-preview {
    position: relative;

    .sticky {
      position: sticky;
      top: $navbar-height + 1.5rem;
    }
  }

  &-col-schema {
    h4:first-child {
      margin-top: 0;
    }

    h4 {
      margin-top: 3rem;
      margin-bottom: 1.25rem;
    }

    small {
      font-size: inherit;
      opacity: .75;
    }

    .default {
      background: var(--gray-500);
      color: var(--white);
      border-color: var(--gray-600);
    }
  }
}

code {
  margin-bottom: 0;
  display: inline;
  color: inherit;
  border: 1px solid var(--gray-200);
  border-radius: .5rem;
  padding: .2rem;
  background: transparent;
}

h4 code {
  background: var(--gray-50);
  border-radius: .5rem;
  padding: .25rem;
}

@include media-breakpoint-down(lg) {
  .docs-cols {
    grid-template-columns: 1fr;
  }
}