html {
  font-size: 16px;
}

body {
  background: transparent;
  -webkit-font-smoothing: antialiased;
  padding-top: $navbar-height;
  color: var(--text-color);
}

p {
  line-height: 1.5;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  font-weight: 500;
}

h4,
h5,
h6 {
  letter-spacing: -0.025em;
  font-weight: 900;
}

code {
  color: var(--gray-700);
  background: var(--gray-100);
  border-radius: 0.25rem;
  padding: 0.1rem 0.2rem;
  margin: 0 0.25rem;
}

.container {
  padding: 0 2rem;
}

.container-fluid {
  margin: 0 auto;
  max-width: auto;
}

.background-white {
  background-color: var(--body-bg);
}

.intro {
  font-size: 2rem;
  line-height: 1.4;
  max-width: 1300px;
  line-height: 1.3 !important;
}

.cardless-text {
  background: rgba($white, 0.75);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: $border-radius;
  color: var(--gray-600);
  margin-left: -2rem;
  margin-right: -2rem;

  p:last-child {
    margin-bottom: 0;
  }
}

@at-root .dark .cardless-text {
  background: rgba($gray-1000, 0.75);
}

@include media-breakpoint-down(lg) {
  .intro {
    font-size: 1.75rem;
  }

  .cardless-text {
    margin-left: 0;
    margin-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .container {
    padding: 0 1rem;
  }

  .intro {
    font-size: 1.25rem;
  }
}

@media (max-width: 1921px) {
  html {
    font-size: 14px;
  }
}
