.home {
  max-width: 1200px;

  h2 {
    color: $gray-900;
    font-size: clamp(4rem, 8vw, 9rem);
    margin-top: 8rem;
    margin-bottom: 1rem;
    line-height: 0.9;
    letter-spacing: -0.04em;
  }

  h3 {
    font-size: clamp(2.25rem, 3.5vw, 3rem);
    margin-top: 3rem;
    opacity: 0.5;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: 0;
  }

  label {
    font-weight: 900;
    font-size: 1rem;
    color: $gray-700;
    margin-bottom: 1rem;
  }

  &-card-content {
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
